<!DOCTYPE html>
<html>
	<head>
		<title>Directory</title>
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script type="text/javascript">
			$(document).ready(() => {
				$('#form').submit((event) => {
					event.preventDefault()

					$.ajax({
						type: 'POST',
						url: '/',
						data: $('#form').serialize(),
						dataType: 'text',
						success: (response) => {
							$('#form')[0].reset()
							document.getElementById('check').textContent = response

							setTimeout(() => {
								document.getElementById('check').textContent = ''
							}, 3000)
						},
						error: () => {},
					})
				})
			})
		</script>
	</head>

	<body>
		<div class="col-md-4 col-md-offset-4">
			<div>
				<h2>Places</h2>
			</div>
			<div>
				<p>
					Here's a list of links to all vacation destinations we host on Travel
					Oasis.
				</p>
			</div>

			<div>
				<%for (var place in places){%>
				<li><a href="/place/<%=places[place][0]%>"
					><%=places[place][1]%></a></li>
				<%}%>
			</div>
		</div>
	</body>
</html>
